<form [formGroup]="registroForm">
  <div class="form-group">
    <label for="name">Nombre:</label>
    <input type="text" id="name" formControlName="name" class="form-control">
  </div>
  <div class="error">
    <!-- Validar los estados del campo -->
    <div *ngIf="registroForm.get( 'name' )?.invalid && ( registroForm.get( 'name' )?.dirty || registroForm.get( 'name' )?.touched )  ">
        <!-- Validar las reglas que definimos para el campo -->
        <small *ngIf="registroForm.get( 'name' )?.errors?.['required']">El nombre es requerido</small>
    </div>
</div>

  <div class="form-group">
    <label for="email">Correo electrónico:</label>
    <input type="email" id="email" formControlName="email" class="form-control">
  </div>
  <div class="error">
    <!-- Validar los estados del campo -->
    <div *ngIf="registroForm.get( 'email' )?.invalid && ( registroForm.get( 'email' )?.dirty || registroForm.get( 'email' )?.touched )  ">
        <!-- Validar las reglas que definimos para el campo -->
        <small *ngIf="registroForm.get( 'email' )?.errors?.['required']">El correo es requerido</small>
        <small *ngIf="registroForm.get( 'email' )?.errors?.['email']">Correo no valido</small>
    </div>
</div>

  <button type="button" (click)="onSubmit()">Guardar</button>
</form>
